body{
    background-image: url("fondodegrade.png"); 
    margin: 0;
    height: 100vh;
     margin: 0 auto;
    width: 1160px;
    background: #26547D;
}

header{
    background-color: #26547D;
   

}

#er h1{
    font-size: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

#er li{
    list-style-type: none;
    font-size: 20px;

}
#er a{
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)

}
#lista li{
    text-decoration: none;
}

li{
    color: rgb(0, 0, 0); 
     

}
section{
    text-align: right;
    margin: 0px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
}
nav li{
        display: inline-block;
        color: rgb(255, 255, 255);
        margin: 2px;
        padding: 10px;
        cursor: pointer;
}
nav li:hover{
    color:rgb(8, 8, 8);
}

/*** main ***/

main{
    
}

h2{
    font-size: 30px;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
}

.nosotros{
    display: inline-block;
    width: 1160px;
    height: 350px;

}

.tex{
        width: 560px;
    height: 280px;
    float: left;
}
.uni{
        font-size: 26px;
    color: #FFFFFF;
}

.logo img{
    
    height: 210px;
    float: right;
    padding: 12px;
    border-radius: 8%;

}

/*** footer ***/

#footer{
    background-color: #26547D;
    display: flex;
     width: 650px;
     height: 250px;
     justify-content: space-around;

}
#footer li{
    list-style-type: none;
    padding: 0;
    color: #ffffff;
}
#footer a{
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}

#footer span{
    font-size: 18px;
}

#carreras{
    float: left;

}

#nosotros2{
 float: right;
}
.contact-button {
    background-color: #8095ff;
    color: #000000; 
    border: none;  
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    height: 40px;
    width: 260px;
}

.arrow {
    margin-left: 10px; 
    color: red;
    font-size: 20px; 
}

#footer img{
     display: block; 
    margin: 0 auto; 
    max-width: 100%;
    height: auto; 
    position: relative; 
    top: -20px; 
    margin-left: 320px;
}

#derecho{
    background-color: #26547D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

