body{
    background: linear-gradient(to bottom right, #fbfbfa, #FFCED3, #F3693E, #4F86C6); 
    margin: 0;
    height: 100vh;
}
li{
    color: rgb(0, 0, 0);   
}
section{
    text-align: right;
    margin: 0px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
}
#titulo h1{
    font-size:  50px;
    padding: 20px;
    float: left;
        height: 49px;
    margin: 3px;
}
#titulo a{
    text-decoration: none;
    color: black;
    float: right;
}
#titulo{
    font-size: 23px;
    padding: 35px;
}
nav li{
        display: inline-block;
        color: rgb(255, 255, 255);
        margin: 2px;
        padding: 10px;
        cursor: pointer;
}
nav li:hover{
    color:rgb(8, 8, 8);
}
.formulario{
    display: flex;
    justify-content: center;
}
.login-container{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    max-width: 300px;
    border-radius: 5px;
}
.input-group{
    margin-bottom: 15px;
    text-align: left;
}
.input-group label{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.736);
}
button:hover{
    background-color: rgb(154, 154, 154);
}
input[type="text"] {
    border: none; /* Elimina todos los bordes predeterminados */
    border-bottom: 2px solid #010101; /* Solo línea inferior con color */
    outline: none; /* Quita el borde azul que aparece al hacer clic */
    padding: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out; /* Transición suave */
}

footer{
    background-color: #26547D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
