body{
    margin: 0;
    height: 100vh;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}
h2 {
    text-align: center;
    margin: 0px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #020202;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: rgb(246, 245, 245); /* Color inicial */
    transition: color 0.4s ease; /* Animación suave para el cambio de color */
    transform: translateY(-4px); /* Hace que el botón se eleve */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    border-radius: 30px;
}
section{
    text-align: right;
    margin:0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(to bottom right, #fbfbfa, #FFCED3, #F3693E, #4F86C6);
    }
nav{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-left: 24px;
}
nav li{
        display: inline-block;
        margin: 2px;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
}
div{
    text-align: center;
    justify-content: center;
    color: #010101;
    font-size: 90px;
}
.new{
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.galeria-contenedor{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 19px;
}
.imagenes{
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid white; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px white;
    transition: transform 0.4s;
    padding: 5px;
}
.imagenes img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagenes:hover{
    transform: scale(1.10);
}
footer {
    background-color: #26547D;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
